__pycache__/

backend/settings.py
backend/urls.py

*.json

config_sever/
uploads/
config/
db.sqlite3
.DS_Store
getCreds.py

static/
templates/
error.log
log/

log/error-front/*
templates/admin/*
backend/urls.py

refresh.py

.env
_dev/